.App{
    height: 100vh;
    background-image: url("../images/stock-management.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.root-page{
    width: 100%;
    height: 85vh;
    overflow: scroll;
}
.body{
    height: 10vh;
}
.contact-dev{
    font-size: 18px;
    color: green;
    display: flex;
    flex-direction: row;
    gap: 9px;
    width: 100%;
    justify-content: center;
    padding-right: 20px;
    align-items: center;
}
.contact-dev a{
    font-size: 30px;
    color: green;
    margin-left: 9px;
}
.footer{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: absolute;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 3px 3px 0px rgba(10, 10, 10, 0.2);


    /* background-color: green; */
}
.footer .cr{
    margin: 10px;
    padding: 10px;
    border-top: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}
.cr h5{
    font-size: 15px;
    align-self: center;
    color: green;
}

.sidenav{
    width: 12%;
    border-radius: 5px;
    height: 100%;
    padding-top: 20px;
}
.top-nav{
 padding: 10px;
 background-color: green;
 font-weight: bolder;
 height: 80px;
 
}
.light{
    font-weight: 300;
}
.main-body{
    width: 88%;
}
.float-right {
    float: right!important;
}
.page{

    border-radius: 10px;
    margin: 2px;
    padding: 15px;
    box-shadow: 0px 3px 3px 0px rgba(10, 10, 10, 0.2);
    height: 100%;
}

.invoice-form{
    display: flex;
    flex-direction: column;
}
.display-count{
    font-size: 25px;
    font-weight: 400;
    color: green;
}
.card-title{
    font-weight: bold;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);
    padding: 7px;
    height: 100px;

}
.root-page{
    display: flex;
    flex-direction: row;
}
.statistics{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);
    padding: 7px;
    height: 150px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}
.summary{
    margin-bottom: 20px;

}
input{
    border:2px solid green;
    border-radius: 10px;
    height: 50px;
}
.table-head{
    margin-top: 7px;
    border: 0px;
    border-radius: 10;
}
.table-row{
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);
}
.title-n-button{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.form{
    padding: 30px ;
    width: 400px;

    border-radius: 10px;
    /* box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2); */
    align-self: center;
    color: green;
    font-weight: bold;

}
.auth-screen{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.sm-text{
    
    display: none;
}


@media (max-width: 575.98px) {
    .sidenav {
      transform: translateX(-200%);
      position: absolute;
    }
    .nice-border{
        width: 85vw;
    }
    .main-body{
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .form{
       
        width: 90vw;
    }
    .sm-text{
        display: block; 
    }
    
    .intro{
       
        visibility: hidden;
        
    }
    .intro-text{
        background-color: black;
        padding: 6px;
        font-size: 10px;
        font-weight: bold;
        width: 100vw;
        text-align: start;
        opacity: 0;
        position: absolute;
        border-radius: 10px;
     }
}
@media (max-width: 767.98px) {
    .intro{     
        visibility: hidden;
        
    } 
    .form{
        padding: 30px ;
        width: 400px;
    
        border-radius: 10px;
        /* box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2); */
        align-self: center;
        color: green;
        font-weight: bold;
    
    }
 }
@media (max-width: 991.98px) {
    .intro{
       
        visibility: hidden;     
    }  
    .form{
        padding: 30px ;
        width: 400px;
    
        border-radius: 10px;
        /* box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2); */
        align-self: center;
        color: green;
        font-weight: bold;
    
    }
 }
 
.styled-header{
    font-weight: bold;
    font-family: serif;
}
.intro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-text{
    padding: 6px;
    font-size: 30px;
    font-weight: bold;
    width: 30vw;
    text-align: center;
    opacity: 0;
    position: absolute;
    background-color: white;
    border-radius: 10px;
 }

 .show-text{
    opacity: 1;
    animation: animate 200ms;
 }
 @keyframes animate {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.0);
    }
 }
.searchResults{
background-color: white;
border-radius: 10px;
margin-bottom: 10px;
height: auto;
transition: 1s ease-in;
box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);

}
.searchResults h5{
    border-bottom: 1px black;
}
.btn{
    padding: 3px 8px 3px 8px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    background-color: green;
}
.btn-outlined{
    padding: 3px 8px 3px 8px;
    border-radius: 20px;
    color: green;
    font-weight: 500;
    background-color: white;
   border:2px solid green;
}
.active-link{
    font-weight: bold;
}
.page div h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}
select{
    border: 5px;
    border: 1px solid green;
}
.nice-border{
    border:2px solid green;
    border-radius: 10px;
    height: 50px;
}
.bold{
    font-weight: bold;
}

.side-navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3px;
}
.record-display{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: 400;
 font-size: 16px;
}
.nav-item{
    font-weight: semibold;
    color: green;
    padding: 6px;

    border-bottom: 1px  rgb(46, 46, 46);
}
.add-category-modal ,.add-invoiceitem-modal{
    position: absolute;
    z-index: 4;
    padding: 5px 30px 5px 30px;
    background-color: green;
    margin-left: 20%;
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);
    transition: 300ms ease-out;
    gap: 9px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transform: translateY(-500px) scale(0.8);
    justify-content: start;

    
    

}
.add-category-modal div{
 align-self: flex-start;
}
.show-modal{
    transform: translateY(10px);
    transform: scale(1.2);
    visibility: visible;
}

.modal-head{
    display: flex;
    justify-content: space-between;
    align-content: items;
    width: 100%;

}
.close{
    color: red;
    font-size: 25px;
}
.modal-actions{
    display: flex;
    justify-content: start;

    width: 100%;
    margin-top: 5px;
    gap: 5px;
}