.root-page{
    width: 100%;
}

.sidenav{
    width: 15%;
    border-radius: 5px;
    height: 700px;
    padding-top: 20px;
}
.top-nav{
 padding: 10px;
 background-color: green;
 margin: 10px;
 border-radius: 5px;
 font-weight: bolder;
 
}
.main-body{
    width: 85%;
}
.float-right {
    float: right!important;
}
.page{

    border-radius: 10px;
    margin: 2px;
    padding: 15px;
    box-shadow: 0px 3px 3px 0px rgba(10, 10, 10, 0.2);
    height: 700px;
}


.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);
    padding: 7px;
    height: 100px;

}
.statistics{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);
    padding: 7px;
    height: 150px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;

}
.summary{
    margin-bottom: 20px;

}
.table-head{
    margin-top: 7px;
    border: 1px solid black;
    border-radius: 10;
}
.table-row{
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);
}
.title-n-button{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.productList h5{
font-size: 23;
font-weight: bold;
font-family: serif;
margin-bottom: 5px;
}
.searchResults{
background-color: white;
border-radius: 10px;
margin-bottom: 10px;
height: auto;
transition: 1s ease-in;
box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.2);

}
.searchResults h5{
    border-bottom: 1px black;
}
.btn{
    padding: 4px 8px 4px 8px;
    border-radius: 15px;
    color: white;
    font-weight: 500;
}
select{
    border: 5px;
    border: 1px solid green;
}

.side-navigation{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 3px;
}
.nav-item{
    font-weight: bold;
    color: green;
    padding: 6px;
    border-bottom: 1px  rgb(46, 46, 46);
}